.title{
    margin: to-upper-case($string: "5");
}
.consult{
    height: 55;
    width: 75;
}

.text1{
    color: blue;
}
.text2{
    color: red;
}
.text3{
    color: gold;
}
.text4{
    color: brown;
}