<!-- <p>home works!</p> -->
<!-- category Section  -->
<div class="container py-4 m-auto mt-2 text-light">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light  ">
      <div class="container-fluid ms-5">

        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/talk_to_dr.jpeg" alt="Doctor" height="75" width="75">
          <h6 class="mt-2">Talk To Doctor</h6>
        </a>

      </div>
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/medicine-home">
          <img src="../../../assets/images/medicines.jpeg" alt="Medicines" height="75" width="75">
          <h6 class="mt-2">Medicines</h6>
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/surgery.jpeg" alt="Sergery" height="75" width="75">
          <h6 class="mt-t">Sergery</h6>
        </a>

      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/insurance.jpeg" alt="Insurance" height="75" width="75">
          <h6 class="mt-2">insurance</h6>
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/labtest.jpeg" alt="LavTest" height="75" width="75">
          <h6 class="mt-2">Labtest & Packages</h6>
        </a>
      </div>
    </nav>
  </div>
</div>

<!-- Consult  -->
<div class="container border shadow py-4 mt-2 text-dark w-75 rounded-pill">
  <div class="row text-center">
    <div class="col-md-6">
      <h5> Consult With Top Doctors Online , 24X7 </h5>
    </div>
    <div class="col-md-3 border shadow-sm rounded-pill m-auto ">
      <h6 class="text-primary mt-1 cursor"> Start Consultation <span class="ms-2 "><i class="bi bi-arrow-right"></i></span>
      </h6>

    </div>
  </div>

</div>

<!-- corsal -->
<div class="container py-4 mt-3 w-75">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/gold-home.jpeg" class="d-block w-100" alt="Gold">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/ConsultNow.jpeg" class="d-block w-100" alt="Consult">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/BookNow.jpeg" class="d-block w-100" alt="Book">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/OrderNow.jpeg" class="d-block w-100" alt="Book">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>&nbsp;
      <div class="carousel-indicators">
        <div class="">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- ABHA Health ID -->
<div class="container shadow cursor w-75" style="border-radius: 10px;">
  <div class="row m-auto ">
    <img src="../../../assets/images/ABHA.svg" alt="Create/Link your ABHA Health ID ">
  </div>
</div>

<!-- home page 4 cards -->
<div class="container py-3 mt-3 ">
  <div class="row">
    <div class="col-md-4 text-start ">
      <h5 class="mt-1"><span class="text1">Med</span><span class="text2">Lab</span><span class="text3"> GOLD</span></h5>
      <h4 class="mt-4"><span class="text4">Give The Care Your Family Deserves</span></h4>
      <h5 class="mt-4">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h5>
      <button class="btn btn-info fw-bold btn-lg mt-4 px-5">Bye MedLab <span class="text3"> GOLD</span> <i
          class="bi bi-arrow-right ms-5 "></i></button>
    </div>
    <div class="col-md-8">
      <div class="row m-auto ">

        <div class="card shadow" style="width: 15rem; border-radius: 20px; height: fit-content;">
          <img src="../../../assets/images/HomePage-4-Cards/unlimited-consultations.svg" class="card-img-top mt-3"
            alt="unlimited-consultations" height="100" width="100">
          <div class="card-body">
            <h5 class="card-title" style="color: darkgoldenrod;">Unlimited Free Consultations</h5>
            <p class="card-text mt-3">Get unlimited free consultations with all <span style="font-weight: bold;">
                doctors 24x7</span></p>
          </div>
        </div>
        <div class="card shadow ms-4 mt-3 " style="width: 15rem; border-radius: 20px; height: fit-content;">
          <img src="../../../assets/images/HomePage-4-Cards/Full-family.svg" class="card-img-top mt-3"
            alt="Free-For-Full-Family" height="100" width="100">
          <div class="card-body">
            <h5 class="card-title mt-4" style="color: darkgoldenrod;">Free For Full Family</h5>
            <p class="card-text mt-5">Free consultations for upto <span style="font-weight: bold;"> 6 family
                members</span></p>
          </div>
        </div>
      </div>

      <div class="row m-auto">
        <div class="card shadow" style="width: 15rem; border-radius: 20px; height: fit-content;">
          <img src="../../../assets/images/HomePage-4-Cards/unlimited-consultations.svg" class="card-img-top mt-3"
            alt="unlimited-consultations" height="100" width="100">
          <div class="card-body">
            <h5 class="card-title" style="color: darkgoldenrod;">Unlimited Free Consultations</h5>
            <p class="card-text mt-3">Get unlimited free consultations with all <span style="font-weight: bold;">
                doctors 24x7</span></p>
          </div>
        </div>
        <div class="card shadow ms-4 mt-4 " style="width: 15rem; border-radius: 20px; height: fit-content;">
          <img src="../../../assets/images/HomePage-4-Cards/Full-family.svg" class="card-img-top mt-3"
            alt="Free-For-Full-Family" height="100" width="100">
          <div class="card-body">
            <h5 class="card-title mt-4" style="color: darkgoldenrod;">Free For Full Family</h5>
            <p class="card-text mt-5">Free consultations for upto <span style="font-weight: bold;"> 6 family
                members</span></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Insurance container -->
<div class="container py-6 " style="margin-top: 6;">
  <h4 class="mt-4" style="font-weight: bold;font-style: italic;">Insurance</h4>
  <p class="mt-4" style="font-weight: bold;">Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with network hospitals and intimate Hospitalization</p>
  <div class="row ms-2 mt-5">
  <div class="card shadow" style="width: 12rem;height: 14rem; border-radius: 20px;border: none;">
  <div class="card-body cursor">
    <h5 class="card-title">E-Card <i class="bi bi-arrow-right-short text-primary ms-5"></i></h5>
    <p class="card-text"><small> Get e-cards for you and your family members</small></p>
  </div>
  <img src="../../../assets/images/Incurance-Homepage-cards/ecard.svg" class="card-img-bottom " style="height: 65px; width: 65px;margin-bottom: 20px;margin-left: 5rem;" alt="...">
</div>
<div class="card shadow ms-4" style="width: 12rem ;height: 14rem; border-radius: 20px;border: none;">
  <div class="card-body cursor">
    <h5 class="card-title">Claims <i class="bi bi-arrow-right-short ms-5 text-primary"></i></h5>
    <p class="card-text"><small> Track your claims in real time </small></p>
  </div>
  <img src="../../../assets/images/Incurance-Homepage-cards/claims.svg" class="card-img-bottom" style="height: 65px; width: 65px;margin-bottom: 20px;margin-left: 5rem;" alt="...">
</div>
<div class="card shadow px-2 ms-4" style="width: 12rem;height: 14rem; border-radius: 20px;border: none;">
  <div class="card-body cursor">
    <h5 class="card-title">Plan <i class="bi bi-arrow-right-short text-primary" style="margin-left: 75px;"></i> Hospitalization</h5>
    <p class="card-text"><small> Plan and intimate hospitalization at trusted hospitals </small></p>
  </div>
  <img src="../../../assets/images/Incurance-Homepage-cards/hospitalization.svg" class="card-img-bottom" style="height: 65px; width: 65px;margin-bottom: 20px;margin-left: 6rem; margin-top: -20px;" alt="...">
</div>
<div class="card shadow ms-4" style="width: 12rem;height: 14rem; border-radius: 20px;border: none;">
  <div class="card-body cursor">
    <h5 class="card-title">Network <i class="bi bi-arrow-right-short text-primary ms-4"></i> Hospitals</h5>
    <p class="card-text" style="margin-bottom: 0;"><small> Search for the nearest Network hospital to go Cashless</small></p>
    
  </div>
  <img src="../../../assets/images/Incurance-Homepage-cards/network-hospitals.svg" class="card-img-bottom" style="height: 65px; width: 65px;margin-bottom: 5rem;margin-left: 4rem;margin-top:-12px;" alt="...">
</div>
<div class="card shadow ms-4" style="width: 12rem;height: 14rem; border-radius: 20px;border: none;">
  <div class="card-body cursor">
    <h5 class="card-title">Empanel <i class="bi bi-arrow-right-short text-primary ms-4"></i> Hospital</h5>
    <p class="card-text"><small> Become a part of Network hospital</small></p>
  </div>
  <img src="../../../assets/images/Incurance-Homepage-cards/EmpanelHosp.svg" class="card-img-bottom" style="height: 65px; width: 65px; margin-bottom: 20px;margin-left: 5rem;" alt="...">
</div>
</div>
</div>

