<!-- <p>footer works!</p> -->

<div class="container-fluid px-5 mt-5 py-4" style="background-color: rgb(245, 215, 244);">
    <div class="row">

        <div class="col-md-4 border-radius" style="background-color: rgb(239, 160, 230);">
            <div style="font-weight: 600; margin-top: 4px;">Health</div>
            <div class="text-muted">MedLab Gold</div>
            <div class="text-muted">Book Medicine</div>
            <div class="text-muted">Dr Consultation</div>
            <div class="text-muted">Book a lab Test</div>
            <div class="text-muted">Covid Esential Item</div>
            <div class="text-muted">Dental</div>
            <div class="text-muted me-2">Cancer Care</div>
        </div>

        <div class="col-md-4 border-radius" style="background-color: rgb(221, 170, 221);">
            <div style="font-weight: 600; margin-top: 4px;">Hospitalisation</div>
            <div class="text-muted">Plan Hospitalisation</div>
            <div class="text-muted">Locate Hospital</div>
            <div class="text-muted">Intimate Claim</div>
            <div class="text-muted">Track Claim</div>
            <div class="text-muted me-2">FAQs</div>
        </div>

        <div class="col-md-4 border-radius" style="background-color: rgb(226, 195, 225);">
            <div style="font-weight: 600; margin-top: 4px;">About</div>
            <div class="text-muted">Overview</div>
            <div class="text-muted">Testimonials</div>
            <div class="text-muted">Contact</div>
            <div class="text-muted">Blog</div>
            <div class="text-muted">Career</div>
            <div class="text-muted me-2">Security</div>
        </div>

    </div>
</div>


