.card-block{
    box-shadow:  0 0 10px rgb(24 24 24 / 16%);
    border-radius: 20px;
    margin: 0px;
   
}

.card-description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    text-decoration: none;
}