.cd{
   height: 40px;
   text-decoration-color: coral;
   
}

.cartCount{
   padding: 2px;
   background-color: #f28e4b;
   position: relative;
   top: -5px;
   left: -20px;
   font-weight: 400;
   padding-bottom: 1px;
   height: 5px;
   width: 12px;
   border-radius: 4px;
}