
<div class="container" style="width: 280px;">
    <div class="card" style="margin-top: 10rem;">
        <div class="card-body shadow" style="width: 280px; border-radius: 5px; margin-top: 10rem; background-color: aqua;margin: auto;">
            <h5 class="card-title">India's Largest Digital Healthcare Platform</h5>
            <p class="card-text">Giving customers 24x7 access to high-quality healthcare.</p>
            
        </div>
    </div>
</div>

<div class="container" style="margin-top: 10rem;">
    <div class="row">
        <div class="col-md-7" style="margin-left: 0px;">
            <h5 style="font-weight: 600;">WE ARE MEDIBUDDY. AN END-TO-END DIGITAL HEALTHCARE PLATFORM.</h5>
            <p>When the webslinger wears his red and blue suit, he's ready to save a life. Same rule applies to us at MediBuddy. We’re no fictional superhero, but we do know how to weave a web of doctors, hospitals, healthcare providers, pharmaceuticals, and insurance companies to create a world of possibilities for people looking for healthcare assistance.</p>
            <br>
            <p>Online doctor consultations, lab test bookings, medicine delivery, corporate health and wellness services - we make sure each and every healthcare need is taken care of.</p>

        </div>
        <div class="col-md-5">
           <img src="../../../assets/images/About-us/App-Screen2.png" alt="Mobile View" height="350px" width="330px" style="margin-left: 5rem;">
        </div>

    </div>

</div>

